*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'sass/colors';

body{
    background-color: $color-black;
}

@import 'sass/typography';
@import 'sass/layout';

.border{
    border: 1px solid $color-red;
}